*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
h1{
  text-align: center;
}
.container{
   min-height: 100vh;
  background: linear-gradient(to right, green,yellow);
}
.gallery{
  flex-basis: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}
.box{
  background-size: cover;
  background-position: top;
  color: rgb(254, 254, 254);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  background-blend-mode:hard-light;
  cursor: pointer;
}
.box:hover{
  background-color: #999;
  transition: all 1s ease-in-out;
  background-position: center;
  box-shadow: 0 0 4px #fff;
}
/* #box1{
  grid-row: span 2;
}
#box4{
  grid-row: span 2;
  grid-column: span 2;
} */
.row2{
  grid-row: span 2;
}
.col2{
  grid-column: span 2;
}